body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1 a{
    display: inline-flex;
    text-decoration: none;
    color: white;
}

.header {
    background-color: #34cceb;
    border-radius: 0px 0px 20px 20px;
    box-shadow:  5px 10px 8px #888888;
}

.header_container {
    display: inline-block;
    width: 100%
}

.nav_bar {
    display: inline-flex;
    align-items: center;
    gap: 33rem;
}

.header_text {
    font-weight: 700;
    font-size: 20px;
    padding: 0;
}

.header_text li {
    list-style: none;
    display: flex;
}

ul {
    gap: 3rem;
    display: inline-flex;
    padding: 0;
}

.header_text li a {
    text-decoration: none;
    color: black;
}

.header_text li a:hover {
    color: beige;
    transition: 0.5s;
}

.header_title {
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 4rem;
}

.header_title:hover a {
    color: white;
    transition: 0.5s;
}

.welcome {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 2.5rem 0 1.5rem 0;
    font-weight: 700;
    font-size: 32px;
}

.full_name {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.about_section {
    height: 60%;
    margin: 1rem 0;
    width: 100%;
}

.about_circle {
    /* background: lightgray; */
    display: flex;
    margin: 10rem 8rem;
    border: 2px solid black;
    border-radius: 1rem;
    flex-direction: column;
    padding: 0 1rem;
}

.details {
    display: flex;
    gap: 13.5rem;
    margin-bottom: 18rem;
    font-size: 1.2rem;
}

.about_name, .about_email, .about_degree, .about_birthday, .about_experience, .about_phone, .about_address, .about_company {
    display:flex;
    justify-content: space-between;
    gap: 4rem;
}

.about {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0.8rem 0;
    font-size: 1.8rem;
    font-weight: 700;
}

.about a{
    text-decoration: none;
    color: #4034eb;
}

.about_details {
    margin-top: 0.6rem;
}


.column_1, .column_2 {
    display: grid;
    /* width: 27%; */
    gap: 1.3rem;
}

.table {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

/* table {
    width: 600px;
    table-layout: fixed;
    border-collapse: collapse;
} */

.skill, .projects {
    display: flex;
    justify-content: center;
    padding-top: 0.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #4034eb;
}

.skill a, .projects a{
    text-decoration: none;
    color: #4034eb;
}


.skills_section {
    height: 60%;
}

th {
    font-size: 1.3rem;
}

td {
    font-size: 1.2rem;
    padding: 0.6rem
}

td.rate {
    text-align: end;
}
button {
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid #34cceb;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #6fb9e3;
    color: #fcfeff;
}

button:hover{
    background-color: #34cceb;
    color: #1e1e1e;
    transition: 0.6s;
    font-weight: 700;
}

.button {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

label[for=details] {
    font-weight: 600;
}

.about_picture {
    /* background-image: url("../images/about_picture.JPG"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.container {
    display: flex; 
    width: 50%;
    object-fit: fill;
    margin: 0 0 0 40px;
}

.about_text {
    display: flex;
    /* padding: 0 0 1rem 0; */
    flex-direction: column;
    width: 50%;
}

.about_container {
    display: flex;
    gap: 2rem;
}

.about_role {
    font-weight: 700;
    font-size: 1.8rem;
    justify-content: center;
    display: flex;
}

.about_description {
    font-size: 1.2rem;
    justify-content: center;
    display: flex;
    padding: 1.25rem 0;
}

.projects_details {
    display: inline-block;
    text-align: center;
    width: 30%;
    /* height: 50px; */
    margin: 1rem 0.5rem;
    font-size: 1.3rem;
    border: 1px solid black;
}

.projects_bar {
    padding: 1rem 0;
}

.projects_fill {
    padding: 0 0 0 4%;
    width: 100%;
}

.skills_fill {
    padding: 1rem 10%;
    width: 100%;
}

.skills_details {
    display: inline-block;
    text-align: center;
    width: 38%;
    height: 50px;
    font-size: 1.3rem;
    padding: 1.5rem 1.5rem;
}

.very_good {
    color: green;
}

.projects_name {
    font-weight: 700;
}

.projects_details a, .skills_details a {
    color: black;
}

.very_good_container, .good_container, .satisfactory_container, .bad_container, .very_bad_container {
    height: 25px;
    background-color: lightgray;
    border-radius: 20px;
    margin-top: 1rem;
    width: 55%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.very_good_bar, .good_bar, .satisfactory_bar, .bad_bar, .very_bad_bar {
    height: 25px;
    border-radius: 20px;
}

.very_good_bar {
    background-color: #19db15;
}

.good_bar {
    background-color: #9fe64e;
    width: 80%;
}

.satisfactory_bar {
    background-color: #fcf400;
    width: 60%;
}

.bad_bar {
    background-color: #f7bc25;
    width: 40%;
}

.very_bad_bar {
    background-color: #fa230f;
    width: 20%;
}

.user {
    font-weight: 900;
}

.skills_circle {
    background: #6fb9e3;
    margin: 0 2rem;
    border-radius: 1rem;
}

.login_message {
    display:flex;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color:#19db15;
}

.add_skills {
    width: 80%;
    display: flex;
    justify-content: center;
}