body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1 a{
    display: inline-flex;
    text-decoration: none;
    color: white;
}

.header {
    background-color: #34cceb;
    border-radius: 0px 0px 20px 20px;
    box-shadow:  5px 10px 8px #888888;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.header_text {
    font-weight: 700;
    font-size: 20px;
}

.header_text li {
    list-style: none;
    display: flex;
}

ul {
    gap: 3rem;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.header_text li a {
    text-decoration: none;
    color: black;
}

.header_text li a:hover {
    color: beige;
    transition: 0.5s;
}

.header_title {
    font-size: 30px;
    color: black;
}

.header_title:hover a {
    color: white;
    transition: 0.5s;
}

.welcome {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 2.5rem 0 1.5rem 0;
    font-weight: 700;
    font-size: 32px;
}

.full_name {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.about_section {
    height: 60%;
    margin: 1rem 0;
}

.about_circle {
    /* background: lightgray; */
    margin: 10rem 8rem;
    border: 2px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.details {
    display: flex;
    gap: 12.5rem;
    margin-bottom: 18rem;
    font-size: 1.2rem;
}

.about_name, .about_email, .about_degree, .about_birthday, .about_experience, .about_phone, .about_address, .about_company {
    display:flex;
    justify-content: space-between;
    gap: 2rem;
}

.about {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0.8rem 0;
    font-size: 1.8rem;
    font-weight: 700;
    color: #4034eb;
}

.about_details {
    margin-top: 0.6rem;
}


.column_1, .column_2 {
    display: grid;
    /* width: 27%; */
    gap: 1.3rem;
}

.table {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

/* table {
    width: 600px;
    table-layout: fixed;
    border-collapse: collapse;
} */

.skill, .projects {
    display: flex;
    justify-content: center;
    padding-top: 0.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #4034eb;
}

.skills_section {
    height: 60%;
}

th {
    font-size: 1.3rem;
}

td {
    font-size: 1.2rem;
    padding: 0.6rem
}

td.rate {
    text-align: end;
}
button {
    font-size: 1.2rem;
    border-radius: 0.6rem;
}

button:hover{
    background: blue;
    color: white;
    transition: 0.5s;
}

.button {
    display:flex;
    justify-content: center;
    align-items: center;
}

label[for=details] {
    font-weight: 600;
}

.about_picture {
    background-image: url("../images/about_picture.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.container {
    display: flex; 
    width: 44.75%;
    object-fit: fill;
    margin: 0 0 0 40px;
}

.about_text {
    display: flex;
    padding: 0 0 1rem 0;
    flex-direction: column;
    width: 50%;
}

.about_container {
    display: flex;
    gap: 2rem;
}

.about_role {
    font-weight: 700;
    font-size: 1.8rem;
    justify-content: center;
    display: flex;
}

.projects_details {
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 50px;
    padding: 1rem 0;
    font-size: 1.3rem;
}

.projects_fill {
    padding: 0 0 0 5%;
    width: 100%;
}

.skills_fill {
    padding: 1rem 10%;
    width: 100%;
}

.skills_details {
    display: inline-block;
    text-align: center;
    width: 40%;
    height: 50px;
    font-size: 1.3rem;
    padding: 0.5rem 0;
}

.very_good {
    color: green;
}