body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1 a{
    display: inline-flex;
    text-decoration: none;
    color: black;
}

.header {
    background-color: #34cceb;
    border-radius: 0px 0px 20px 20px;
    box-shadow:  5px 10px 8px #888888;
}

.header_container {
    display: inline-block;
    width: 100%
}

.nav_bar {
    display: inline-flex;
    align-items: center;
    gap: 33rem;
}

.header_text {
    font-weight: 700;
    font-size: 20px;
    padding: 0;
}

.header_text li {
    list-style: none;
    display: flex;
}

ul {
    gap: 3rem;
    display: inline-flex;
    padding: 0;
}

.header_text li a {
    text-decoration: none;
    color: black;
}

.header_text li a:hover {
    color: beige;
    transition: 0.5s;
}

.header_title {
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 4rem;
}

.header_title:hover a {
    color: white;
    transition: 0.5s;
}

li#skills a {
    color: white;
}

.skill_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 30%;
    height: 60%;
    border: 2px solid black;
    border-radius: 20px;
    background: lightgray;
}

.skill_container {
  margin: 1rem 0;
}

.skill_form {
  margin-top: 1rem;
  font-size: 1.5rem;
}


.skill_name {
  display:flex;
  justify-content: center;
  align-items:center;
  gap: 20px;
}

.skill_name input[type="text"] {
  font-size: 1.2rem;
}

label[for="name"] {
  font-size: 24px;
}

label[for="type"] {
  font-size: 24px;
  padding-right: 12px;
}

label[for="rate"] {
  float: left;
  padding: 1rem 1em;
  text-align: center;
  font-size: 20px;
}
.type select {
  height: 30px;
  width: 77%;
}

.table {
    margin-top: 2rem
}

.rate_table {
  display:flex;
  justify-content:center;
  margin-bottom: 10px;
}

button {
    margin: 1rem 0;
    font-size: 1.6rem;
    border-radius: 9px;
}