body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1 a{
    display: inline-flex;
    text-decoration: none;
    color: black;
}

.header {
    background-color: #34cceb;
    border-radius: 0px 0px 20px 20px;
    box-shadow:  5px 10px 8px #888888;
}

.header_container {
    display: inline-block;
    width: 100%
}

.nav_bar {
    display: inline-flex;
    align-items: center;
    gap: 33rem;
}

.header_text {
    font-weight: 700;
    font-size: 20px;
    padding: 0;
}

.header_text li {
    list-style: none;
    display: flex;
}

ul {
    gap: 3rem;
    display: inline-flex;
    padding: 0;
}

.header_text li a {
    text-decoration: none;
    color: black;
}

.header_text li a:hover {
    color: beige;
    transition: 0.5s;
}

.header_title {
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 4rem;
}

.header_title:hover a {
    color: white;
    transition: 0.5s;
}

li#projects a {
    color: white;
}

.project_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project_form {
    margin: 1rem;
}

textarea {
    resize: none;
}

.description {
    margin-top: 1rem;
}

.project_section {
    width: 60rem;
    height: 400px;
    background-color: lightgray;
    margin: 30px 0;
    border-radius: 20px;
    border: 2px solid black;
}

.project_container {
    font-size: 1.5rem;
}

.project_name input[type="text"] {
    font-size: 1.5rem;
}

.project_form {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

button {
    font-size: 1.8rem;
    border-radius: 9px;
}

.table {
    width: 70%;
    padding-bottom: 3rem;
}

table {
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 100%;
}

th {
    height: 50px;
}

.project_name {
    display: flex;
    gap: 3.8rem;
}

.status {
    padding-bottom: 1.5rem;
}

.status label {
    padding-right: 55px;
}

.status select {
    height: 30px;
    width: 70%; 
}

button:hover {
    background-color: blue;
    color: white;
    transition: 0.5s;
}

.back_button {
    margin: 1rem;
}

.user {
    font-weight: 900;
}