body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1 a{
    display: inline-flex;
    text-decoration: none;
    color: black;
}

.header {
    background-color: #34cceb;
    border-radius: 0px 0px 20px 20px;
    box-shadow:  5px 10px 8px #888888;
}

.header_container {
    display: inline-block;
    width: 100%
}

.nav_bar {
    display: inline-flex;
    align-items: center;
    gap: 28rem;
}

.header_text {
    font-weight: 700;
    font-size: 20px;
    padding: 0;
}

.header_text li {
    list-style: none;
    display: flex;
}

ul {
    gap: 3rem;
    display: inline-flex;
    padding: 0;
}

.header_text li a {
    text-decoration: none;
    color: black;
}

.header_text li a:hover {
    color: beige;
    transition: 0.5s;
}

.header_title {
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 4rem;
}

.header_title:hover a {
    color: white;
    transition: 0.5s;
}

.table_container {
    display: flex;
    justify-content: center;
}
.styled_table {
    text-align: center;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
}

li#inquiries a {
    color: white;
}

.message_row {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

td {
    padding: 0.6rem;
    font-size: 1.2rem;
}

.styled_table thead tr {
    background-color: #6fb9e3;
    color: #ffffff;
}

table {
    border-collapse: collapse;
    /* border-radius:; */
}

th {
    /* height: 3rem; */
    padding: 0.6rem;
}

#nav a.active {
    background-color: black;
}

#nav a {
    background-color: #6fb9e3;
    color: white;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
}