body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1 a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

.header {
    height: 150px;
    background-color: cyan;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 0px 0px 20px 20px;
    padding: 0 100px;
}

.header_text {
    font-weight: bold;
    padding: 0 30px;
    font-size: 30px;
}

.header_text li {
    list-style: none;
    display: inline-block;
    margin: 0 80px;
    padding: 20px;
}

.header_text li a {
    text-decoration: none;
    color: black;
}

.header_text li a:hover {
    color: beige;
}

.header_title {
    font-size: 50px;
    color: black;
    font-weight: bold;
    padding: 0 100px 0 40px;
}

.header_title:hover a {
    color: white;
}

.login_section {
    height: 400px;
    margin: 30px 500px;
    background-color: lightgray;
    border-radius: 20px;
    border: 2px solid black;
}

.login_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_form {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: blue;
    font-weight: 700;
    padding: 40px 0 0;
}

.email {
    font-size: 40px;
    margin-top: 50px;
    gap: 30px;
    display: flex;
}

.password {
    display: flex;
    margin-top: 40px;
    gap: 110px;
    font-size: 40px;
}

.email input[type="email"], .password input[type="password"] {
    font-size: 40px;
}

.login_button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    width: 120px;
    height: 50px;
    font-size: 30px;
    border-radius: 20px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: blue;
    color: white;
}
